.profile-pic {
  width: 4.5em;
  height: 4.5em;
  background-color: var(--white);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--white);
  gap: 0.3em;
}

.profile > h1 {
  font-size: 1.5em;
  font-weight: 400;
  letter-spacing: 0.5px;
  margin-top: 1em;
}

.profile > h3 {
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: var(--gray);
}

.profile > span {
  font-size: 0.9em;
  margin-top: 0.3em;
  letter-spacing: 0.4px;
}

.profile > span:hover {
  cursor: pointer;
  text-decoration: underline;
  color: var(--pink);
}

.edit-icon {
  width: 100%;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.edit-icon img {
  max-height: 70%;
}

.pencil {
  position: relative;
  top: -1em;
  right: -2em;
  cursor: pointer;
}

.change-icon {
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  border: 2px solid var(--white);
}

.blue {
  background-color: var(--blue);
}

.pink {
  background-color: var(--pink);
}

.yellow {
  background-color: var(--yellow);
}
