.input {
  width: 100%;
  height: 3em;
}

.input input {
  width: 100%;
  height: 4em;
  border: 1px solid var(--gray);
  border-radius: 1.3em;
  padding: 0 1em;
}

.input h3 {
  font-size: 1em;
  color: var(--gray);
  background-color: var(--white);
  font-weight: 400;
  width: fit-content;
  position: relative;
  top: 18%;
  left: 7%;
  padding: 0 3px;
}
