.user-signup-container {
  width: 100%;
  height: 100vh;
  background-color: var(--blue);
  display: flex;
  justify-content: flex-end;
}

.presentation {
  width: 60%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  position: relative;
  text-align: right;
  padding: 1em 7em;
}

.presentation > div {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.presentation h1 {
  font-size: 3em;
  font-weight: 500;
}

.presentation p {
  width: 17em;
  display: inline-block;
  font-size: 1.5em;
  font-weight: 300;
  margin-top: 1em;
  font-weight: 200;
}

.presentation > img {
  max-width: 30%;
  position: absolute;
  bottom: 15%;
  left: 15%;
}
