.switch-order {
  width: 100%;
  height: 4em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
  background: none;
  border: none;
  padding-left: 15%;
}

.switch-order > img {
  max-height: 80%;
}

.switch-order > h3 {
  color: var(--white);
  font-weight: 300;
}

.switch-order:hover {
  background-color: #ffffff20;
}

.pagination-holder {
  width: 100%;
  height: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  margin-top: auto;
}

.pagination-holder > h3 {
  color: var(--white);
  font-weight: 500;
  font-size: 1.3em;
}

.pagination-holder > img {
  max-height: 40%;
}

.pagination-holder > img:hover {
  cursor: pointer;
}
