.chatbot-container {
  width: 100%;
  background-color: var(--light-gray);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 1em 1em 4% 1em;
}

.send-message {
  width: 80%;
  height: 6%;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1em;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.2);
}

.send-message button {
  background-color: var(--pink);
  border: none;
  height: 100%;
  width: 6%;
}

.send-message button img {
  width: 60%;
}

.send-message input {
  height: 100%;
  width: 94%;
  padding: 0 1em;
  border: none;
}
