@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap');

* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  font-family: 'DM Sans', sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
}

:root {
  --pink: #d11b47;
  --baby-pink: #ffc2d1;
  --strong-pink: #ae163c;
  --blue: #14213d;
  --baby-blue: #294277;
  --white: #ffffff;
  --gray: #b0b0b0;
  --yellow: #fcc419;
}

input:focus,
textarea:focus {
  outline: none;
}

input[type='date']::-webkit-calendar-picker-indicator {
  display: none;
}

.mirror {
  transform: scaleX(-1);
}

a {
  color: var(--pink);
}

a:hover {
  text-decoration: underline;
}

button:hover {
  cursor: pointer;
}

textarea {
  width: 100%;
  height: 70%;
  resize: none;
  border: none;
  border-radius: 0.5em;
  padding: 0.5em;
}

.timeline-container {
  width: 100%;
  min-height: 89vh;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
}
