.side-menu {
  width: 20%;
  height: 100%;
  background-color: var(--blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 5em 0 0 3%;
}

.side-menu > div {
  height: 10%;
  display: flex;
  align-items: center;
  color: var(--white);
  gap: 1em;
}

.side-menu h3 {
  font-weight: 300;
  font-size: 115%;
  letter-spacing: 0.5px;
}

.side-menu > div > img {
  max-height: 55%;
}

.side-menu > div:hover {
  cursor: pointer;
  text-decoration: underline;
}

.side-menu .selected {
  font-weight: 600;
}
