.home {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-top: 20px solid var(--pink);
  border-bottom: 20px solid var(--pink);
}

.home > img {
  max-width: 40%;
}

.home-button {
  width: 13em;
  height: 5em;
  background-color: var(--pink);
  border: none;
  border-radius: 3.75em;
  color: var(--white);
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-self: flex-end;
  margin-bottom: 3em;
  padding: 0 1em;
}

.home-button p {
  font-size: 20px;
}

.home-button img {
  max-width: 25%;
}

.about-us {
  width: 100%;
  height: 100vh;
  background-color: var(--pink);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.banner {
  width: 35%;
  height: 85%;
  background-color: var(--white);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5% 3% 5% 10%;
}

.banner p::-webkit-scrollbar {
  display: none;
}

.banner > h1 {
  color: var(--blue);
  font-size: 3em;
  margin-bottom: 1em;
}

.banner p {
  font-size: 1.5em;
  display: block;
  width: 100%;
  height: 100%;
  text-overflow: ellipsis;
  white-space: wrap;
  overflow-y: scroll;
}

.go-up {
  transform: rotate(-90deg);
  position: absolute;
  bottom: 1em;
  right: 1em;
}

.go-up:hover {
  cursor: pointer;
}

.card-holder {
  width: 35em;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding-top: 12%;
}

.card-holder > h1 {
  color: var(--white);
  font-weight: 400;
  font-size: 8em;
  position: absolute;
  left: -13%;
  top: 10%;
  line-height: 100px;
}
