# Arquivo .editorconfig

# Define o estilo para todos os arquivos
[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

# Define as configurações específicas para JavaScript e JSON
[*.js]
[*.json]
indent_size = 2

# Configurações específicas para Markdown
[*.md]
trim_trailing_whitespace = false
